body { 
    background: url("login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
.logo {
    z-index: 1;
    height: 80px;
}

.tagline {
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 10%;
    display: inline-block;
    width: 20%;
    text-align: center;
}

.first {
    z-index: 1;
    font-family: Dosis;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}

.second {
    z-index: 1;
    margin-top: 0;
    font-family: Dosis;
    font-weight: bold;
    color: rgb(75, 159, 207);
    font-size: 40px;
    margin-bottom: 0;
}

.third {
    z-index: 1;
    margin-top: 0;
    font-family: Dosis;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}

.fourth {
    z-index: 1;
    margin-top: 0;
    font-family: Dancing Script;
    font-style: italic;
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0;
}

.box {
  font-family: Dosis;
    z-index: 1;
    display: inline-table;
    position: absolute;
    left: 69%;
    top: 33%;
    width: 240px;
    height: 188px;
    background-color: white;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.box .log-in .account-info {
    z-index: 1;
    font-family: Dosis;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 15px;
    width: 200px;
    height: 24px;
    border-style: solid;
    border-color: rgb(195, 206, 217);
}

.logIn {
    z-index: 1;
    width: 85%;
    border-radius: 6px;
    font-family: Dosis;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 15px;
    border-color: rgb(44, 44, 174);
    border-style: solid;
    background-color: rgb(44, 44, 174);
    color: white;
    cursor: pointer;
}

.logIn:hover {
    z-index: 1;
    transform: scale(1.07);
}

.logIn:active {
    z-index: 1;
    background-color: white;
    color: rgb(44, 44, 174);
}

.signUp {
    z-index: 1;
    width: 85%;
    border-radius: 6px;
    font-family: Dosis;
    font-weight: bold;
    border: none;
    padding-left: 27px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 15px;
    border-color: rgb(26, 167, 52);
    border-style: solid;
    background-color: rgb(26, 167, 52);
    color: white;
    cursor: pointer;
}

.signUp:hover {
    z-index: 1;
    transform: scale(1.07);
}

.signUp:active {
    z-index: 1;
    background-color: white;
    color: rgb(26, 167, 52);
}

.forgotPass {
    z-index: 1;
    padding-top: 10px;
    font-family: Dosis;
    font-weight: bold;
    font-size: 13px;
    color: rgb(123, 123, 123);
    cursor: pointer;
}

.shopOn {
    z-index: 1;
    font-family: Dosis;
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding-top: 27%;
    padding-left: 67.3%;
    margin-bottom: 0;
}

.shopNow {
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Dancing Script;
    color: bold;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    padding-left: 66%;
}

.allRights {
    z-index: 1;
    font-family: Calibri;
    font-style: italic;
    color: white;
    padding-top: 6%;
    padding-left: 13%;
}

.container .overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.container .content {
    z-index: 1;
    font-family: Dosis;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 75%;
    height: 75%;
    z-index: 2;
    text-align: left;
    padding-left: 4%;
    box-sizing: border-box;
    border-radius: 10px;
}

.container .closebtn {
    z-index: 1;
    font-family: Dosis;
    position: absolute;
    color: black;
    top: 0;
    right: 2%;
    font-size: 40px;
    cursor: pointer;
}

.container.active .overlay {
    z-index: 1;
    display: block;
}
    
.container.active .content {
    z-index: 1;
    transition: all 200ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.content form .user-details{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    z-index: 1;
    display: inline-block;
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box label.details{ 
    z-index: 1; 
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    z-index: 1;
    height: 45px;
    width: 70%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    z-index: 1;
    border-color: rgb(75, 159, 207);
}

form .gender-details .gender-title{
    z-index: 1;
    font-size: 20px;
    font-weight: 500;
}

form .category{
    z-index: 1;
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label{
    z-index: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot{
    z-index: 1;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    z-index: 1;
    background: rgb(75, 159, 207);
    border-color: #d9d9d9;
}

form input[type="radio"]{
    z-index: 1;
    display: none;
}

form .button{
    z-index: 1;
    height: 57px;
    margin: 3%;
}

form .button input{
    z-index: 1;
    height: 65%;
    width: 95%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, rgb(75, 159, 207), #f12a4b);
}

form .button input:hover{
    /* transform: scale(0.99); */
    z-index: 1;
    background: linear-gradient(-135deg, rgb(75, 159, 207),  #f12a4b);
}

@media(max-width: 584px){
    .container{
        z-index: 1;
        max-width: 100%;
    }

    form .user-details .input-box{
        z-index: 1;
        margin-bottom: 15px;
        width: 100%;
    }

    form .category{
        z-index: 1;
        width: 100%;
    }

    .content form .user-details{
        z-index: 1;
        max-height: 300px;
        overflow-y: scroll;  
    }

    .user-details::-webkit-scrollbar{
        z-index: 1;
        width: 5px;
    }
}

@media(max-width: 459px){
    .container .content .category{
        z-index: 1;
        flex-direction: column;
    }
}